#titreCompetences{
  text-align: center;
  font-size: 1.2em;

}

.themesCompetences{
  text-align: center;
}

.themesCompetences div{


    /*width: 400px;*/
    /*height: 250px;*/
    //background-color: #555;


}
.separation{
height: 50px;

}
#infoTheme{
  margin: 0px 0px 0px 0px;
  border: 0px solid #111;
  font-size: 2em;
  text-align: center;
//  background-color: #555;
}

.boutonThemesCompetences{
  text-align: center;
  border: 1px solid #111;
  cursor: pointer;

  width: 100px;
  //height: 30;
  //position:relative;
  display: inline-block;
}

.titre{
  text-align: center;
}

#frameTitreCompetences{
  //border: 1px solid #111;
  text-align: right;
}

.dropper {
  //margin: 2px 2px 2px 2px;
  //width: 60px;
  width: 75px;
  height: 20px;
  background-color: #FFF;
  //border: 1px solid #111;

  //border-radius: 3px;
  transition: all 200ms linear;
}

.vert{
    background-color: #0AF739;

  }

  .jaune{
    background-color: #F0FE26;
  }

  .rouge{
    background-color: #FE3D17;
  }

  .drop_hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
  }

  img{
    width: 10px;
    height: 10px;
  }

  .imgMenu{
    width: 50px;
    height: 50px;
  }

  .draggable {
display: inline-block;
margin: 5px 5px 5px 5px;
#padding-top: 20px;
width: 10px;
height: 10px;
color: #3D110F;
background-color: #822520;
border: 1px solid #3D110F;
text-align: center;
font-size: 1em;
cursor: move;

transition: all 200ms linear;
user-select: none;
}

.nondraggable{
  display: inline-block;
  margin: 5px 5px 5px 5px;
  width: 10px;
  height: 10px;
  background-color: #225511;
  border: 1px solid #3D110F;
  text-align: center;
  font-size: 1em;
}

#precedentTitreImg, #suivantTitreImg{
  width: 50px;
  height: 50px;
  background-color: green;
}

/*les pop up*/

#tooltip {
  position:absolute;
  z-index: 9999;
  color: #fff;
  font-size: 10px;
  width: 300px;
  height: 300px;
  //background-image: '/img/postit.png';
  //background-image: url(img/postit.png);
}

#tooltip .tipBody {
  font-size: 30px;
  color: black;
  width: 300px;
  height: 300px;
  /*background-color: #000;*/
  padding: 5px;
  /*background-image: url(img/postit.png);*/
  background-image: url(img/Notes.png);
  background-repeat:no-repeat;
  background-size: 300px 300px;
}


.choixFiltre p{
  display: inline;
  margin: 2% 2% 2% 2%;
}
