/* Eléments principaux de la page */
body{
  background-image: url(slack/texture.png);
  color: grey;
}

/* Header */
header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: grey;
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
}

.titre img{
/*  width:90%;
  height: 90%;*/
  display: flex;
  min-weight: 207px;

}



.contener{
  margin-left:  10%;
  margin-right: 10%;
}

/* Navigation */
nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    width: 80px;
    list-style-type: none;
    display: flex;
    font-size: 0.8em;
   color: #181818;
   padding-bottom: 3px;
   text-decoration: none;
   cursor: move;

}

a{
  color: #181818;
  list-style-type: none;
  text-decoration: none;

}

nav li:hover{
    color: #ffa500;
    //border-bottom: 3px solid #760001;
}

nav a:hover{
    color: #ffa500;
    //border-bottom: 3px solid #760001;
}


.separateur{
  //position: absolute;
//  top: 160px;
  //display: block;
  //left: 160px;
  //margin-right: auto;
  text-align: center;
}

footer{
  text-align: center;

}
/**/
section{
    display: flex;
    //margin-bottom: 20px;
  //  height: 40%;
    height: 30%;
    //height: 300px;
    margin: 3% 3% 3% 3%;

}
/**/
.groupeImg{
  background-color: white;
  border-radius: 5%;
  width: 35%;
  height: 80%;
  text-align : center;
  //flex: auto;
  //display: block;

  display: inline-block;
	vertical-align: middle;
}
/*
.titreImg{
  //height: 33%;
  padding: 5% 5% 5% 5%;
  //display: block;
  height: 50%;
}
*/
.titreImg img{
  margin-top: 3%;
  width: 90%;
  height: 90%;
  border-radius: 10%
}
/**/
.groupeImg p{
  font-size: 0.7em;
  //width:80%;
  //text-align: center;
  width: 100%;
  height: 100%;
}
/*
.groupeImg{
  //display: block;
  //height: 45%;
}
.screenImgs{
  display: flex;
  //text-align: center;
  display: inline-block;
  //height: 33%;
  margin: 5% 5% 5% 5%;
}
*/
.screenImgs img{
  width: 20%;
  height: 20%;
  margin: 2% 2% 2% 2%;
  border-radius: 5%;
}

.screenImgs img:active{
  position:  fixed;
  top: 1px;
  width:600px;
  height: 600px;
}

article{
  //display: flex;
  //height: 80%;
  //width: 100%;
  margin: 5% 1% 1% 5%;
}


article p{
  text-align: justify;

}

h2{
  color: #ffa500;
}

.bouton{
  cursor: move;
  width:80px;
  height:40px;
}
/*
nav{
  position: fixed;
  right: 100px;
}

nav ul li{
  display: inline-block;
  margin 5px 5px 5px 5px;
  width: 80px;
  cursor: move;
}

div{
  //position: relative;
}



.contener{
  position: relative;
  top: 100px;
}

section{
  position: relative;
  left: 150px;
  display: inline-block;
}
.groupeImg{
  width: 200px;
  height: 200px;
  background-color: white;
}

article {
  position: absolute;
  left: 150px;
}
*/
